<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <resultMap id="Teacher" type="pojo.Teacher">
        <result column="tea_id" property="teacherCountId"></result>
        <!--<result column="birthday" property="age"/>-->
        <result column="t_code" property="code"></result>
    </resultMap>


    <update id="updateTeachInfo">
        update teacher
        <set>
            <if test="name != null || name != ''">
                name = #{name} ,
            </if>
            <if test="phone != null || phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null || address != ''">
                address = #{address}
            </if>
        </set>
        where t_code = #{code};
    </update>


    <select id="selectByTeaId" resultType="pojo.Teacher">
        select *
        from teacher a
        where tea_id = (select id from teach_user b where b.id = #{id});
    </select>
    <select id="selectStuInfo" resultType="pojo.StuInfo_Tea">
        select d.s_code code, course, grade, d.sex sex, dept.name dept, d.name name, collage.name collage
        from student d
                 join
             (select b.stu_id code, c.c_name course, b.grade grade
              from (select id, cou_id from teach_cou where id = #{teaId}) a
                       join stu_grade b on b.teach_cou_id = a.id
                       join course c on c.id = a.cou_id) f on d.id = f.code
                 join dept on dept.id = d.id
                 join collage on dept.col_id = collage.id;

    </select>

    <update id="updateGrade">
        update stu_grade
        set grade = #{grade}
        where teach_cou_id =
              (select id
               from teach_cou
               where cou_id =
                     (select id from course where c_name = #{cName})
                 and tea_id = #{teaId})
          and stu_id = (select id from student where s_code = #{code});
    </update>


</mapper>