<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StuInfo</title>
</head>
<body>
<script src="../js/axios-0.18.0.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

<div id="app" align="center">

    <el-form :inline="true" :model="formInline" class="demo-form-inline" >
        <el-form-item label="学号" >
            <el-input v-model="formInline.code" placeholder="学号" style="width: 140px"></el-input>
        </el-form-item>
        <el-form-item label="姓名" >
            <el-input v-model="formInline.name" placeholder="姓名" style="width: 120px" ></el-input>
        </el-form-item>
        <el-form-item label="性别">
            <el-select v-model="formInline.sex" placeholder="性别" style="width: 80px">
                <el-option label="男" value="男"></el-option>
                <el-option label="女" value="女"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="专业">
            <el-input v-model="formInline.dept" placeholder="专业" style="width: 140px"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="onsubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <div style="margin-top: 10px"></div>

    <template>
        <el-table
                :data="stuData"
                style="width: 1400px"
                height="500">
            <el-table-column
                    label="序号"
                    type="index"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="code"
                    label="学号"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="sex"
                    label="性别"
                    width="60">
            </el-table-column>
            <el-table-column
                    prop="dept"
                    label="专业"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="collage"
                    label="院系"
                    width="160">
            </el-table-column>
            <el-table-column
                    prop="course"
                    label="课程"
                    width="160">
            </el-table-column>
            <el-table-column
                    prop="grade"
                    label="成绩"
                    width="60">
            </el-table-column>
        </el-table>
    </template>
</div>
<script>


    new Vue({
        el:"#app",
        mounted(){
            var _this = this;
            axios({
                method:"post",
                url:"/web/a/showStuInfoByTeachServlet",
                data:'info'
            }).then(resp =>{
                stus = resp.data;
                _this.stuData = stus;
            })
        },
        data(){
            var stu = {
                id:'',
                    code:'',
                    name:'',
                    sex:'',
                    dept:'',
                    collage:'',
                    course:'',
                    grade:''
            }
            return {

                stuData:[],
                formInline: {
                    code:'',
                    name: '',
                    sex: '',
                    dept:''
                }
            }
        },
        methods:{

            onsubmit(){

                axios({
                    method:"post",
                    url:'/web/a/selectStuInfoServlet',
                    data:{
                        code:this.formInline.code,
                        name:this.formInline.name,
                        sex:this.formInline.sex,
                        dept:this.formInline.dept
                    }
                }).then(resp => {
                    if(resp.data !== 'fail'){
                        this.stuData = resp.data;
                    }
                })
            },
        }
    });
</script>

</body>
</html>