/**************start********************/
/**************header头框架********************/
.el-footer {
    background-color: #67C23A;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}
/****************end******************/
/**************main结构********************/

.el-header {

    background-color: #67C23A;
    color: #333;
    line-height: 60px;
    text-align: center;
}

.el-aside {
    color: #333;
}
.picture{
    background: url("../imgs/13.png") no-repeat 0px 0px;
}
a:link{
    text-decoration: none;
    color: black;
}
